@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "Gilroy";
    src: local("Gilroy Regular"),
         local("Gilroy-Regular"),
         url("fonts/Gilroy-Regular.woff") format("woff2"),
         url("fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-family: "Gilroy";
    src: local("Gilroy Medium"),
         local("Gilroy-Medium"),
         url("fonts/Gilroy-Medium.woff") format("woff2"),
         url("fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-family: "Gilroy";
    src: local("Gilroy Regular"),
         local("Gilroy-Regular"),
         url("fonts/Gilroy-Semibold.woff") format("woff2"),
         url("fonts/Gilroy-Semibold.woff") format("woff");
}
