html {
    box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.5;
    font-family: "Gilroy", Tahoma, sans-serif;
    color: $color-main;
    word-wrap: break-word;
    background-color: #fff;
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 15px;
    font-family: inherit;
    font-size: 19px;
    color: $color-main;
    background-color: #fff;
    border: 1px solid $color-secondary;
    border-radius: 4px;
    transition: all .15s ease-in;

    .hankook & {
        border-color: $color-secondary--hankook;
    }

    .yokohama & {
        border-color: $color-secondary--yokohama;
    }

    &:hover,
    &:focus {
        outline: none;
    }

    &:focus {
        box-shadow: 0 0 10px $fields-shadow;

        .hankook & {
            box-shadow: 0 0 10px $fields-shadow--hankook;
        }

        .yokohama & {
            box-shadow: 0 0 10px $fields-shadow--yokohama;
        }
    }
}

textarea {
    resize: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    appearance: none;
}

input.error,
textarea.error {
    border-color: $color-warning !important;

    &:focus {
        box-shadow: 0 0 10px rgba(251, 82, 88, .7);
    }
}

::placeholder {
    color: #838383;
}

h1, h2, h3, h4, h5, h6,
.heading-2 {
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
}

h2,
.heading-2 {
    font-size: 70px;
}

.heading-2 span {
    color: $color-secondary;

    .hankook & {
        color: $color-secondary--hankook;
    }

    .yokohama & {
        color: $color-secondary--yokohama;
    }
}

@media screen and (max-width: 1200px) {
    h2,
    .heading-2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 992px) {
    h2,
    .heading-2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 576px) {
    h2,
    .heading-2 {
        font-size: 40px;
    }
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}