// Colors
//$color-main--lightest: #CBF3BF;
//$color-main--lighten:  #ACEF97;
//$color-main--light:    #74EA4F;
$color-main:             #1a1a1a;
//$color-main--dark:     #39BA11;
//$color-main--darken:   #329F11;
//$color-main--darkest:  #184B09;

$color-secondary:        #00ba39;
$color-secondary--light: #2bd55f;
$color-warning:          #fb5258;

$btn-shadow:            rgba(0, 186, 57, .2);
$assurance-card-shadow: rgba(0, 186, 57, .05);
