// Colors
$color-main:             #1a1a1a;
$color-secondary:        #00ba39;
$color-secondary--light: #2bd55f;
$color-warning:          #fb5258;

$btn-shadow:            rgba(0, 186, 57, .2);
$fields-shadow:         rgba(0, 186, 57, .7);
$assurance-card-shadow: rgba(0, 186, 57, .05);

// Colors Hankook
$color-secondary--hankook:        #ff4e00;
$color-secondary--light--hankook: #ff7538;

$btn-shadow--hankook:            rgba(255, 78, 0, .2);
$fields-shadow--hankook:         rgba(255, 78, 0, .7);
$assurance-card-shadow--hankook: rgba(255, 78, 0, .05);

// Colors Yokohama
$color-secondary--yokohama:        #fd1418;
$color-secondary--light--yokohama: #ff4f52;

$btn-shadow--yokohama:            rgba(253, 20, 24, .2);
$fields-shadow--yokohama:         rgba(253, 20, 24, .7);
$assurance-card-shadow--yokohama: rgba(253, 20, 24, .05);


