// Colors
$color-main:             #1a1a1a;
$color-secondary:        #00ba39;
$color-secondary--light: #2bd55f;
$color-warning:          #fb5258;

$btn-shadow:            rgba(0, 186, 57, .2);
$fields-shadow:         rgba(0, 186, 57, .7);
$assurance-card-shadow: rgba(0, 186, 57, .05);
