.advantages {
    padding-top: 80px;
}

.advantages .container {
    z-index: 2;
}

.advantages__title {
    margin-top: 0;
    margin-bottom: 70px;
}

.advantages__box {
    display: flex;
    align-items: center;
}

.advantages__img-box {
    flex-shrink: 0;
    margin-right: 85px;
}

.advantages__img {
    width: 425px;
    height: 680px;
    border-radius: 7px;
    box-shadow: 0 4px 38.7px 4.3px rgba(0, 0, 0, .05);
    object-fit: cover;
}

.advantages__list {
    @include reset-list;

    flex-grow: 1;
}

.advantages__item {
    position: relative;
    margin-bottom: 80px;
    padding-left: 110px;
    font-weight: 500;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 65px;
        height: 90px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(0, -50%);
    }

    .nokian &:nth-child(1)::before {
        background-image: url("img/bg/company.svg");
    }

    .nokian &:nth-child(2)::before {
        background-image: url("img/bg/big-cup.svg");
    }

    .nokian &:nth-child(3)::before {
        background-image: url("img/bg/winter-tire.svg");
    }

    .nokian &:nth-child(4)::before {
        background-image: url("img/bg/flat-tire.svg");
    }

    .nokian &:nth-child(5)::before {
        background-image: url("img/bg/speedometer.svg");
    }
}

@media screen and (max-width: 1200px) {
    .advantages__img-box {
        margin-right: 50px;
    }

    .advantages__img {
        width: 345px;
    }

    .advantages__item {
        padding-left: 95px;
    }
}

@media screen and (max-width: 992px) {
    .advantages__box {
        display: block;
    }

    .advantages__img-box {
        margin-right: 0;
        margin-bottom: 100px;
    }

    .advantages__img {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .advantages__img {
        height: 300px;
    }
}

// additional
@media screen and (width: 768px) {
    .advantages__img {
        height: 350px;
    }
}
