.assortment {
    padding-top: 95px;
    padding-bottom: 90px;
}

.assortment__title {
    margin-top: 0;
    margin-bottom: 44px;
}

.assortment__subtitle {
    margin-top: 0;
    margin-bottom: 90px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.25;
    text-align: center;
}

.assortment__list {
    margin: 0;
}
