.delivery {
    position: relative;
    padding-top: 80px;

    &::after {
        content: "";
        position: absolute;
        top: 100px;
        left: 0;
        z-index: -1;
        width: 471px;
        height: 869px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        pointer-events: none;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/delivery.png");
        }

        .webp & {
            background-image: url("img/bg/delivery.webp");
        }
    }
}

.delivery .container {
    position: relative;
    z-index: 2;
}

.delivery__title {
    margin-top: 0;
    margin-bottom: 44px;
}

.delivery__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 24px;
}

.delivery__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.delivery__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 65px 35px;
}

.delivery__logo {

}

.delivery__button-box {
    margin: 0;
    text-align: center;
}

.delivery__button {
    min-width: 375px;
}

@media screen and (max-width: 768px) {
    .delivery__item {
        padding: 25px;
    }
}

@media screen and (max-width: 576px) {
    .delivery__item {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 405px) {
    .delivery__button {
        min-width: auto;
    }
}
