.download-price-list {

}

.download-price-list__button {
    width: 100%;
    margin-bottom: 30px;
}

.download-price-list__btn-info {
    position: absolute;
    right: -48px;
    bottom: -52px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #161617;

    &::before {
        content: "";
        position: absolute;
        top: -28px;
        left: -38px;
        width: 30px;
        height: 30px;
        background: url("img/bg/click.svg") no-repeat 0 0;
        background-size: contain;
    }
}

.download-price-list__status {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #161617;
}

@media screen and (max-width: 576px) {
    .download-price-list__status {
        text-align: left;
    }
    
    .download-price-list__btn-info {
        right: 0;
    }
}

@media screen and (max-width: 360px) {
    .download-price-list__status {
        width: 200px;
    }
}