.main-footer {
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    background-color: $color-secondary;

    .nokian & {
        background-color: $color-secondary--nokian;
    }

    .hankook & {
        background-color: $color-secondary--hankook;
    }

    .yokohama & {
        background-color: $color-secondary--yokohama;
    }
}

.main-footer__copyright {
    margin: 0;
    text-align: center;
}
