.offer-main {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.offer-main .container {
    display: flex;
}

.offer-main__left {
    flex-grow: 1;
    margin-right: 30px;
}

.offer-main__model-logo-box {
    margin-bottom: 45px;
}

.offer-main__model-logo {

    .hankook &,
    .yokohama & {
        background-color: #fcfcfc;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .04);
    }
}

.offer-main__title {
    margin-top: 0;
    margin-bottom: 39px;
    font-weight: 600;
    font-size: 70px;
    text-align: left;
}

.offer-main__img-mobile-box {
    display: none;
}

.offer-main__img-mobile {
    width: 350px;
    margin: 0 auto 35px;
}

.offer-main__title span {
    color: $color-secondary;

    .nokian & {
        color: $color-secondary--nokian;
    }

    .hankook & {
        color: $color-secondary--hankook;
    }

    .yokohama & {
        color: $color-secondary--yokohama;
    }
}

.offer-main__subtitle {
    margin-top: 0;
    margin-bottom: 39px;
    font-size: 30px;
    line-height: 1.25;
}

.offer-main__subtitle span {
    font-weight: 500;
    color: $color-secondary;

    .nokian & {
        color: $color-secondary--nokian;
    }

    .hankook & {
        color: $color-secondary--hankook;
    }

    .yokohama & {
        color: $color-secondary--yokohama;
    }
}

.offer-main__download-price-list {
    width: 380px;
}

.offer-main__right {
    flex-shrink: 0;
    margin-right: -70px;
    padding-top: 100px;

    .yokohama & {
        margin-right: -90px;
    }
}

.offer-main__img {

}

@media screen and (max-width: 1340px) {
    .offer-main__right {
        margin-right: 0;

        .yokohama & {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .offer-main__title {
        font-size: 60px;
    }

    .offer-main__img {
        max-width: 350px;
    }
}

@media screen and (max-width: 992px) {
    .offer-main__left {
        margin-right: 0;
    }

    .offer-main__title {
        text-align: center;
    }

    .offer-main__subtitle {
        text-align: center;
    }

    .offer-main__img-mobile-box {
        display: block;
    }

    .offer-main__download-price-list {
        margin: 0 auto;
    }

    .offer-main__right {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .offer-main__title {
        font-size: 50px;
    }
}

// additional
@media screen and (width: 768px) {
    .offer-main__title {
        font-size: 60px;
    }
}

@media screen and (max-width: 410px) {
    .offer-main__download-price-list {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .offer-main__title {
        font-size: 40px;
    }
}
