.payment {
    padding-top: 80px;
}

.payment__title {
    margin-top: 0;
    margin-bottom: 70px;
}

.payment__box {
    display: flex;
    align-items: flex-start;
}

.payment__methods {

}

.payment__methods {
    flex-grow: 1;
    margin-right: 50px;
}

.payment__regular-customer {
    flex-shrink: 0;
}

@media screen and (max-width: 992px) {
    .payment__box {
        display: block;
    }

    .payment__methods {
        margin-right: 0;
        margin-bottom: 70px;
    }
}