.regular-customer {
    display: block;
    width: 670px;
    padding: 50px 30px;
    text-align: center;
    color: #fff;
    background-color: #0a0b0b;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 9px 36.55px 6.45px rgba(0, 0, 0, .18);

    .hankook & {
        background-color: #211d1d;
    }

    .yokohama & {
        background-color: #242728;
    }
}

.no-js .regular-customer,
.no-webp .regular-customer {
    background-image: url("img/bg/regular-customer.jpg");
}

.no-js.hankook .regular-customer,
.no-webp.hankook .regular-customer {
    background-image: url("img/bg/regular-customer--hankook.jpg");
}

.no-js.yokohama .regular-customer,
.no-webp.yokohama .regular-customer {
    background-image: url("img/bg/regular-customer--yokohama.jpg");
}

.webp .regular-customer {
    background-image: url("img/bg/regular-customer.webp");
}

.webp.hankook .regular-customer {
    background-image: url("img/bg/regular-customer--hankook.webp");
}

.webp.yokohama .regular-customer {
    background-image: url("img/bg/regular-customer--yokohama.webp");
}

.regular-customer__title {
    margin-top: 0;
    margin-bottom: 47px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.25;
}

.regular-customer__button {
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .regular-customer {
        width: 550px;
    }
}

@media screen and (max-width: 992px) {
    .regular-customer {
        width: 100%;
    }
}
